Import Libraries

In [1]:
import sqlite3
import requests
from tqdm import tqdm

from flask import Flask, request
import json 
import numpy as np
import pandas as pd

# Introduction
In most cases when we are running a business, there are a lot of data stakeholder outside our company. The problem is that we need to provide the access in a way that they will not break our security rules or concerns. One way to solve that is by creating an API for the database. In this project, we will introduce you on how python is used for data transaction management using Flask API. 

**Usecase**: Bikeshare App\
Have you ever rent a bike for faster mobility in town? In the past few years, this business once become a phenomenom. In Indonesia, there are lots of similar services, for example, the Jakarta government's "GOWES" bike sharing service that launcehd in July 2020. 

For the user perspective, the general journey is denoted as follows:
- User scan the bike located at some bike station, sending the data to database as the intent of "start riding"
- Once user has reached its destination station, he/she put back the bike, sending the data again to the database as the intent of "finished riding"

For each activity, there are data transactions between user and database. And how do you think each user's phone communicate with the server for storing and receiving the data? Using API ofcourse! 

We will later create a simplified version of the API service which handles data transactions and analysis. 


**Goals**: Make an API service to connect 3rd party user with data using HTTP request

**End Product**: A Flask API which capable of doing: 
- Input new data to database
- Read specific data from database
- Get specific insight from data analysis process (ie: best performing stations)

**Scoring Metrics**: 

1. 1 point - Created Flask App

-  create app.py file to make flask app
-  create Flask app to execute all of the endpoint you have made

2. 2 points - Created functionality to read or get specific data from the database

- create query to read data from database
- create function to execute read specific information into table from database

3. 4 points - Created functionality to input new data into each table for the databases

- create query to insert new data into stations and trips table
- create function to execute input data into stations and trips table

4. 3 points - Created static endpoints which return analytical result (must be different from point 2,3)

- create query to make analytical resultfrom the data
- create static endpoint to analyze the data from database, for example average trip durations
    
5. 3 points - Created dynamic endpoints which return analytical result (must be different from point 2,3,4)

- create query to make analytical resultfrom the data
- create dinamic endpoint to analyze the data from database, for example average trip durations for each bike_id

6. 3 points - Created POST endpoint which receive input data, then utilize it to get analytical result (must be different from point 2,3,4,5)

- create input data for refering into query for post endpoint
- make query and aggregation function to implement the input

**Tools**: 
- **Python** with **Jupyter Notebook**, installed with **required libraries**
- **Visual Studio Code (VSCode)**: Recommended for writing application scripts
- **TablePlus**: Recommended for easy database access and exploration
- Postman: Optional for easy API testing

# About the Data

The data that we will be using in this project is **[Austin Bike Share]()** dataset which contains information on bike trip start location, stop location, duration, type of bike share user in the city of Austin, Texas. Bike station location data is also provided. 

All the information is stored in a database called **austin_bikeshare.db**. However, we also provides the non existing data in csv files. These data then will be imported into the database using the API

Lists of files:
- **austin_bikeshare.db**: The database, contains `trips` and `stations` table
- **data/austin_bikeshare_stations.csv**: contains all the stations information which is not yet available in the database table
- **data/austin_bikeshare_trips_2021.csv**: contains all 2021 data which is not yet available in the database table

In [2]:
# Reading the csv data
trips = pd.read_csv('data/austin_bikeshare_trips_2021.csv')
stations = pd.read_csv('data/austin_bikeshare_stations.csv')

## Taking a look for trips data
`trips` table in database, or `austin_bikeshare_trips.csv` in original files. It roughly consisted of 1.3 million rows

In [3]:
trips.head(2)

,trip_id,subscriber_type,bikeid,start_time,start_station_id,start_station_name,end_station_id,end_station_name,duration_minutes
0,23455589,Local365,174,2021-01-26 17:47:42 UTC,4059.0,Nash Hernandez/East @ RBJ South,3660.0,East 6th/Medina,7
1,23459960,Local365,19265,2021-01-28 08:03:52 UTC,4054.0,Rosewood/Chicon,4055.0,11th/Salina,16

**Data Descriptions**:
- `bikeid`: integer id of bike
- `checkout_time`: HH:MM:SS, see start time for date stamp
- `duration_minutes`: int minutes of trip duration
- `endstationid`: integer id of end station
- `endstationname`: string of end station name
- `month`: month, integer
- `startstationid`: integer id of start station
- `startstationname`: string of start station name
- `start_time`: YYYY-MM-DD HH:MM:SS
- `subscriber_type`: membership typ e.g. walk up, annual, other bike share, etc
- `trip_id`: unique trip id int
- `year`: year of trip, int

## Taking a look for stations data
`stations` table in database, or `austin_bikeshare_stations.csv` in original files

In [4]:
stations.tail(2)

,station_id,name,status,address,alternate_name,city_asset_number,property_type,number_of_docks,power_type,footprint_length,footprint_width,notes,council_district,modified_date
96,3795,Dean Keeton & Whitis,active,300 W. Dean Keeton St.,NaN,32671.0,undetermined_parking,19.0,solar,55.0,5.0,NaN,9,2021-01-04T12:00:00Z
97,3797,21st & University,active,2007 University Ave.,NaN,32674.0,undetermined_parking,19.0,solar,55.0,5.0,ROW might belong to UT,9,2021-01-04T12:00:00Z

**stations table (or austin_bikeshare_trips.csv)**:
- `station_id`: integer id of station
- `name`: string of station name
- `status`: string of station status (active, closed, moved, ACL-only)
- `address`: string of station address
- `alternate_name`: string of station alternative name
- `city_asset_number`: integer of station's asset number
- `property_type`: string of station's property type
- `number_of_docks`: integer of number of available bike docks
- `power_type`: string of station's power source type
- `footprint_length`: float of station' blueprint length (size of the station). Probably in meters
- `footprint_width`: float of station' blueprint width (size of the station). Probably in meters
- `notes`: string of additional notes
- `council_district`: integer of stations's council district
- `modified_date`: date of last modified information regarding the station

# Database

The first important task is to make sure we can securely make connections to the database. In this scenario, we will connect to sqlite database, `austin_bikeshare.db` via python. In this part, we will re-visit on how to work with databases, started with making a connection, get some data, and insert data into it. 

You can directly connect and view the database using TablePlus, or run the following code to create the connection

In [2]:
# Define a function to create connection for reusability purpose
def make_connection():
    connection = sqlite3.connect('austin_bikeshare.db')
    return connection

# Make a connection
conn = make_connection()

## POST: Insert data into database

Generally, POST method will utilize the data sent by user for specific purporse, for example: 

- Insert new data into the database. 
- Operate the data into some function

We will learn how to insert data into a specific table in our database. Please refer to the following code to create and run the query for the given task

In [32]:
# Get the data values
data = tuple(stations.iloc[1].fillna('').values)

# Make the query
query = f"""
INSERT INTO stations
VALUES {data}
"""

In [33]:
# See the actual query looks like
print(query)

INSERT INTO stations
VALUES (2500, 'Republic Square', 'closed', '425 W 4th Street', '', '', '', '', '', '', '', '', 9, '2021-01-04T12:00:00Z')

In [34]:
# Execute the query 
conn.execute(query)

IntegrityError: UNIQUE constraint failed: stations.station_id

In [9]:
# Commit changes to database
conn.commit()

Once the code above succesful, it's recomended to wrap it into a function so that we can reuse it in the future. Complete the following codes to make the function:

In [12]:
def insert_into_stations(data, conn):
    query = f"""INSERT INTO stations values {data}"""
    try:
        conn.execute(query)
    except:
        return 'Error'
    conn.commit()
    return 'OK'

In [35]:
# Example use of the function 
conn = make_connection()
data = tuple(stations.fillna('').values) # Randomly select a data
result = insert_into_stations(data, conn)

In [36]:
result

'Error'

**TASK: Create a Function to insert data for `trips` table**

In [15]:
# Your code here
def insert_into_trips(data, conn):
    query = f"""INSERT INTO trips values {data}"""
    try:
        conn.execute(query)
    except:
        return 'Error'
    conn.commit()
    return 'OK'

## GET: Read specific data

Generally, GET method will ask for specific the data in the database, alongside with additional information we might send. For example: 
- Get number of unique user
- Get full trips information for specific user id
- Get average trips duration and length for specific user id

In this example, we will implement the most basic GET method, that is to get Station information in the table based on specific Station ID

In [16]:
# Get Specific Station ID  Query
station_id = 2500
query_station_id = f"""
SELECT * FROM stations
WHERE station_id = {station_id}
"""

# Get all station ID Query
query_station_all = "SELECT * FROM stations"

In [17]:
print(query_station_id)

SELECT * FROM stations
WHERE station_id = 2500

In [18]:
# Run the query and get the result
result = pd.read_sql_query(query_station_id, conn)

In [19]:
result

,station_id,name,status,address,alternate_name,city_asset_number,property_type,number_of_docks,power_type,footprint_length,footprint_width,notes,council_district,modified_date
0,2500,Republic Square,closed,425 W 4th Street,,,,,,,,,9,2021-01-04T12:00:00Z

Just like the previous section, create a function to read specific station

In [20]:
def get_station_id(station_id, conn):
    query = f"""SELECT * FROM stations WHERE station_id = {station_id}"""
    result = pd.read_sql_query(query, conn)
    return result 

def get_all_stations(conn):
    query = f"""SELECT * FROM stations"""
    result = pd.read_sql_query(query, conn)
    return result

**TASK: Create a Function to read data from `trips` table**

In [21]:
# Your code here
def get_trip_id(trip_id, conn):
    query = f"""SELECT * FROM trips WHERE trip_id = {trip_id}"""
    result = pd.read_sql_query(query, conn)
    return result
    
def get_all_trips(conn):
    query = f"""SELECT * FROM trips"""
    result = pd.read_sql_query(query, conn)
    return result

# Flask App

Flask is a micro-framework for python. Generally we can build any application out of it. To start with, let's make our first empy flask app. 
Creata a new file `app.py`, then copy-paste the following codes into it and save it. 

*Notes: it's recomended to use vscode as editor since it support vast linting supports, including python which we find really helpful in coding*

```python
from flask import Flask, request
app = Flask(__name__) 

if __name__ == '__main__':
    app.run(debug=True, port=5000)
```

To run the app, you can open your terminal, go to the specific folder and run `python app.py` using your designated virtual environment

## Routes and Endpoints

### Implement endpoints

If you succesfully run the previous app and access the localhost:5000 , you might get an 404 not found error. This is because we **have not** define yet what will happen if people accessing our root path of the app (localhost:5000/)

Add the following example of route or endpoint into your `app.py` just before the `if __name__ === '__main__':` line, and reload the page to see if it works

```python 
@app.route('/')
def home():
    return 'Hello World'
```

Above endpoints will runs the `home` function anytime user access the `/` page.

Since we are going to handle all the requests through this app, the very next step is to implement our functionalites. Let's start with implementing the functionality to read all station data

we will add the `get_all_stations()` functions into our app, create a `@app.route('/stations/')` endpoint and call the function in it. The code should looks like:

```python 
@app.route('/stations/')
def route_all_stations():
    conn = make_connection()
    stations = get_all_stations(conn)
    return stations.to_json()
    
def get_all_stations(conn):
    query = f"""SELECT * FROM stations"""
    result = pd.read_sql_query(query, conn)
    return result
```

However, adding just above codes is not enough. If you see, there is a dependency inside the function, which is `make_connection()` function. Other than that, we will be using all the required libraries. 

Hence, we can complete the code by : 
- import the required libraries at the top of the `app.py` file
- write the `make_connection()` function before any routes declarations

Once it's completed, you should see no errors in the vscode screen, and your endpoint should work just fine and returns all the stations. It's now your task to impelement the `get_all_trips` into the app

**TASK: Implement `get_all_trips()` method into the app** \
Place it under `@app.route('/trips/')` endpoint

In [22]:
# your code
@app.route('/trips')
def get_all_trips(conn):
    query = f"""SELECT * FROM trips"""
    result = pd.read_sql_query(query, conn)
    return result

NameError: name 'app' is not defined

### Access Endpoints

To access our endpoints using python, simply use `requests` library followed by the request method (post, get, put, delete, etc) the passed in the url or data

In [24]:
url = 'http://127.0.0.1:5000/stations/'
res = requests.get(url)

In [25]:
res

The response sent by the server was not only contains bare data. It was packed as HTTP response, meaning that we need to unpack the response first  in order to get the data. we can use `res.json()` to obtain it, then use pandas to transform it into dataframe for readibility or future analysis purposes.

In [26]:
pd.DataFrame(res.json())#.head()

,station_id,name,status,address,alternate_name,city_asset_number,property_type,number_of_docks,power_type,footprint_length,footprint_width,notes,council_district,modified_date
0,2500,Republic Square,closed,425 W 4th Street,,,,,,,,,9,2021-01-04T12:00:00Z
1,2546,ACC - West & 12th Street,closed,1231 West Ave.,,,,,,,,,9,2021-01-04T12:00:00Z

## Static and Dynamic Endpoints

On previous part we already made several endpoints which control how our server will react whenever users access it. 
If we take a look at the endpoints, it's all static : 
- `@app.route('/')`
- `@app.route('/home/')`
- `@app.route('/stations/')`
- `@app.route('/trips/')`


What if, instead of getting all the stations information, we only wanted to read a specific station information of station_id 3464 ? \
should we make an excact endpoint of that like `@app.route('stations/3464')`?. But what about the others? are we going to make a bunch of endpoints for each specific id like: 
- `@app.route('/stations/3464')`
- `@app.route('/stations/2500')`
- `@app.route('/stations/2541')`
- and so on...

Of course we shouldn't. One way to overcome the problem is by delcaring a **dynamic endpoints**. Basically, it's an endpoint which allows user to insert a variable values in it. The final looks of the dynamic endpoint version of above problem is: 
- `@app.route('stations/<station_id>')`

From above endpoint, the \<station_id\> is the variable, and we need to make sure that it influence how our following function acts. The whole dynamic endpoints for getting specific station by its id will looks like: 

```python 
@app.route('/stations/<station_id>')
def route_stations_id(station_id):
    conn = make_connection()
    station = get_station_id(station_id, conn)
    return station.to_json()
```

Before accesing the endpoint, make sure that `make_connection()` and `get_station_id()` functions are included inside `app.py` script so that it won't raise an error. Now for the final step, we can try to access the dynamic endpoints by changing the `station_id` in the following codes

In [27]:
station_id = 3464
url = f"http://127.0.0.1:5000/stations/{station_id}"

In [50]:
response = requests.get(url)
pd.DataFrame(response.json())

,station_id,name,status,address,alternate_name,city_asset_number,property_type,number_of_docks,power_type,footprint_length,footprint_width,notes,council_district,modified_date
0,3464,Pease Park,closed,1155 Kingsbury St,,,,,,,,,9,2021-01-04T12:00:00Z

**TASK: Implement dynamic endpoints to read specific trip by its trip_id!** \
Place it under `@app.route('/trips/<trip_id>')` endpoint

## Handling JSON data as input

Sometimes, in order to make something happens in our API, we need the user to send us the data. In this case, we need to handle how we can get the data (which mostly sent as json format) and utilize it inside our endpoint functions. 

In order to achieve that, we will be using flask's `request` classes.


```python
@app.route('/json') 
def json_example():
    
    req = request.get_json(force=True) # Parse the incoming json data as Dictionary
    
    name = req['name']
    age = req['age']
    address = req['address']
    
    return (f'''Hello {name}, your age is {age}, and your address in {address}
            ''')
```

In [51]:
data = {
    "name" : "Andi", 
    "age" : 24,
    "address" : "my adress"
}

url = "http://127.0.0.1:5000/json"

In [52]:
res = requests.post(url, json=data)

In [53]:
res

In [54]:
res.text

'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>404 Not Found</title>\n<h1>Not Found</h1>\n<p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>\n'

Now that we already know how to handle json input, we can try to implement and endpoint in which we can insert new data into `stations` table.

```python

@app.route('/stations/add', methods=['POST']) 
def route_add_station():
    # parse and transform incoming data into a tuple as we need 
    data = pd.Series(eval(request.get_json(force=True)))
    data = tuple(data.fillna('').values)
    
    conn = make_connection()
    result = insert_into_stations(data, conn)
    return result


```

In [5]:
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        if isinstance(obj, np.floating):
            return float(obj)
        if isinstance(obj, np.ndarray):
            return obj.tolist()
        return super(NpEncoder, self).default(obj)

In [98]:
data = stations.iloc[20].fillna('').to_dict()
data['station_id'] = 2464
data_json = json.dumps(data, cls=NpEncoder)

In [99]:
url = "http://127.0.0.1:5000/stations/add"
res = requests.post(url, json=data_json)

In [100]:
res

In [101]:
res.text

'OK'

In [102]:
# Sintaks for iteratively insert stations (from stations_csv) into stations table

for idx, data in tqdm(stations.iterrows()):
    data = data.fillna('').to_dict()
    data_json = json.dumps(data, cls=NpEncoder)
    
    url = "http://127.0.0.1:5000/stations/add"
    res = requests.post(url, json=data_json)

98it [00:01, 91.74it/s]

**TASK: Using the API, insert all the trips data (in csv) into the database by running the following codes**\
It might run differently on each devices, so you might get some rest while waiting for it to complete

In [105]:
for idx, data in tqdm(trips.iloc[:5].iterrows()):
    data = data.fillna('').to_dict()
    data_json = json.dumps(data, cls=NpEncoder)
    
    url = "http://127.0.0.1:5000/trips/add"
    res = requests.post(url, json=data_json)

5it [00:00, 28.86it/s]

In [107]:
res.text

'OK'

# Make your own analytic endpoints

Based on what we've learned before, create your own endpoints which returns analytical result such as contigency tables, aggregation tables, or even just a values.

*ps: if the return is dataframe/series, don't forget to change it into json with `.to_json()` method*


- [x] 1 point - Created Flask App
- [x] 4 points - Created functionality to input new data into each table for the databases
- [x] 2 poitns - Created functionality to read or get specific data from the database
- [ ] 3 points - Created static endpoints which return analytical result (must be different from point 2,3)
- [ ] 3 points - Created dynamic endpoints which return analytical result (must be different from point 2,3,4)
- [ ] 3 points - Created POST endpoint which receive input data, then utilize it to get analytical result (must be different from point 2,3,4,5)

## Create Static Endpoint(s)

You can use the following cell to try-out your function before implementing it as an endpoint

In [116]:
trips_data = pd.read_sql_query(
    '''
    SELECT bikeid, duration_minutes FROM trips
    ''', conn
)

trips_data

        bikeid  duration_minutes
0          248                39
1          446                31
2          203                31
3          101                30
4          242                19
...        ...               ...
1324084    174                 7
1324085  19265                16
1324086  18331                25
1324087  19682                 5
1324088  19437                 5

[1324089 rows x 2 columns]

In [117]:
pd.crosstab(
    index = trips_data['bikeid'],
    columns = 'average',
    values = trips_data['duration_minutes'],
    aggfunc = 'mean'
)

col_0        average
bikeid
           29.002766
004G       39.729167
009G       39.260870
011G       57.851546
014G       51.987124
...              ...
998        33.650677
999        33.931782
Block02   671.800000
Block03     2.000000
Block05  3385.000000

[842 rows x 1 columns]

In [ ]:
# Your Code Here 
@app.route('/trips/average_duration') 
def route_average_duration():
    query = f'''
            SELECT bikeid, duration_minutes
            FROM trips
            '''
    conn = make_connection()
    trips_data = pd.read_sql_query(query, conn)
    mean_data = pd.crosstab(
                                index = trips_data['bikeid'],
                                columns = 'average',
                                values = trips_data['duration_minutes'],
                                aggfunc = 'mean'
                            )
    return str(mean_data)

## Create Dynamic Endpoints

You can use the following cell to try-out your function before implementing it as an endpoint

In [120]:
trips_data_by_bikeid = pd.read_sql_query(
    '''
    SELECT duration_minutes
    FROM trips
    WHERE bikeid = '004G'
    ''', conn
)
trips_data_by_bikeid.mean()

array([39.72916667])

In [ ]:
# Your Code Here
@app.route('/trips/average_duration/<bike_id>')
def route_average_duration_by_bikeid(bike_id):
    query = f'''
            SELECT duration_minutes
            FROM trips
            WHERE bikeid = {bike_id}
            '''
    conn = make_connection()
    trips_data_by_bikeid = pd.read_sql_query(query, conn)

    mean_data = trips_data_by_bikeid.mean().values
    return str(mean_data)

## Create POST Endpoints

You can use the following cell to try-out your function before implementing it as an endpoint.

If you still find it quite difficult, here's an example case you might wanted to try on:
- input : a dictionary contained a datetime period
    - { "period" : "2015-08" }
- output:
    - Aggregation table of bike rent activities for each station in that specific period
- example code: 

```python 
input_data = request.get_json() # Get the input as dictionary
specified_date = input_data['period'] # Select specific items (period) from the dictionary (the value will be "2015-08")

# Subset the data with query 
conn = make_connection()
query = f"SELECT * FROM stations WHERE start_time LIKE ({specified_date}%)"
selected_data = pd.read_sql_query(query, conn)

# Make the aggregate
result = selected_data.groupby('start_station_id').agg({
    'bikeid' : 'count', 
    'duration_minutes' : 'mean'
})

# Return the result
return result.to_json()

```

In [44]:
# Your Code Here
conn = make_connection()
result = pd.read_sql_query(
    '''
    SELECT * FROM trips
    WHERE start_station_id = 1007 AND end_station_id = 2501
    ''', conn
)

pd.crosstab(
    index = result['bikeid'],
    columns = 'result',
    values = result['duration_minutes'],
    aggfunc = ['count', 'mean']
)

        count   mean
col_0  result result
bikeid
1000        4  19.25
104         1   9.00
105         1  10.00
110         1   4.00
113         1  13.00
...       ...    ...
976         1   6.00
981         1  14.00
983         2   4.00
993         1  85.00
996         1   8.00

[197 rows x 2 columns]

In [45]:
url = 'http://127.0.0.1:5000/trips/trip_route'
destination = {
    'start_station_id' : 1007,
    'end_station_id' : 2501
}
destination = json.dumps(destination, cls=NpEncoder)

res = requests.post(url, json = destination)

In [46]:
res

In [51]:
res.json()

{"('count', 'result')": {'1000': 4,
  '104': 1,
  '105': 1,
  '110': 1,
  '113': 1,
  '116': 1,
  '123': 1,
  '127': 1,
  '132': 1,
  '134': 1,
  '140': 1,
  '141': 2,
  '150': 2,
  '153': 1,
  '158': 2,
  '164': 3,
  '165': 1,
  '174': 1,
  '176': 1,
  '177': 2,
  '181': 1,
  '183': 2,
  '185': 1,
  '1851': 1,
  '188': 2,
  '190': 1,
  '193': 1,
  '195': 2,
  '197': 2,
  '198': 2,
  '201': 1,
  '203': 2,
  '2048': 1,
  '207': 2,
  '209': 1,
  '2108': 1,
  '214': 1,
  '2147': 1,
  '219': 3,
  '220': 3,
  '223': 1,
  '228': 1,
  '229': 1,
  '232': 3,
  '233': 2,
  '236': 2,
  '240': 1,
  '241': 1,
  '242': 1,
  '247': 2,
  '25': 1,
  '252': 1,
  '254': 1,
  '262': 1,
  '263': 2,
  '272': 1,
  '275': 1,
  '276': 2,
  '277': 1,
  '28': 2,
  '282': 1,
  '283': 1,
  '284': 1,
  '285': 2,
  '287': 1,
  '288': 2,
  '29': 2,
  '298': 1,
  '301': 3,
  '302': 1,
  '303': 1,
  '315': 1,
  '321': 1,
  '326': 1,
  '332': 1,
  '334': 3,
  '343': 1,
  '344': 1,
  '347': 1,
  '354': 1,
  '356': 1,
  '367': 1,
  '369': 1,
  '377': 1,
  '382': 1,
  '385': 1,
  '387': 1,
  '388': 1,
  '391': 1,
  '393': 1,
  '398': 1,
  '4': 1,
  '40': 1,
  '409': 2,
  '41': 1,
  '410': 1,
  '411': 2,
  '420': 1,
  '421': 2,
  '422': 1,
  '425': 1,
  '428': 2,
  '429': 2,
  '435': 1,
  '440': 2,
  '445': 2,
  '447': 1,
  '452': 1,
  '459': 1,
  '460': 2,
  '464': 1,
  '466': 2,
  '468': 1,
  '478': 1,
  '503': 1,
  '509': 1,
  '517': 2,
  '518': 1,
  '52': 1,
  '522': 1,
  '523': 1,
  '529': 1,
  '539': 1,
  '546': 1,
  '547': 1,
  '548': 2,
  '55': 2,
  '555': 1,
  '563': 2,
  '575': 1,
  '576': 2,
  '577': 1,
  '579': 1,
  '589': 1,
  '593': 1,
  '621': 2,
  '650': 1,
  '660': 1,
  '663': 2,
  '668': 1,
  '68': 2,
  '683': 2,
  '685': 1,
  '690': 1,
  '693': 1,
  '745': 1,
  '749': 1,
  '75': 2,
  '772': 2,
  '774': 2,
  '775': 1,
  '78': 1,
  '80': 1,
  '800': 2,
  '801': 1,
  '815': 2,
  '839': 1,
  '849': 2,
  '85': 1,
  '856': 2,
  '861': 1,
  '862': 1,
  '867': 1,
  '871': 3,
  '873': 1,
  '874': 1,
  '877': 1,
  '878': 1,
  '88': 1,
  '881': 1,
  '882': 3,
  '884': 1,
  '895': 1,
  '896': 1,
  '897': 1,
  '898': 1,
  '907': 1,
  '911': 1,
  '924': 2,
  '925': 1,
  '930': 1,
  '934': 1,
  '937': 1,
  '938': 2,
  '95': 2,
  '955': 1,
  '958': 1,
  '968': 1,
  '969': 2,
  '97': 1,
  '970': 1,
  '974': 2,
  '976': 1,
  '981': 1,
  '983': 2,
  '993': 1,
  '996': 1},
 "('mean', 'result')": {'1000': 19.25,
  '104': 9.0,
  '105': 10.0,
  '110': 4.0,
  '113': 13.0,
  '116': 10.0,
  '123': 6.0,
  '127': 217.0,
  '132': 84.0,
  '134': 14.0,
  '140': 4.0,
  '141': 5.0,
  '150': 9.5,
  '153': 7.0,
  '158': 5.5,
  '164': 5.3333333333,
  '165': 4.0,
  '174': 36.0,
  '176': 136.0,
  '177': 5.5,
  '181': 89.0,
  '183': 4.0,
  '185': 4.0,
  '1851': 5.0,
  '188': 8.0,
  '190': 4.0,
  '193': 7.0,
  '195': 5.0,
  '197': 4.0,
  '198': 6.0,
  '201': 4.0,
  '203': 7.5,
  '2048': 4.0,
  '207': 4.5,
  '209': 6.0,
  '2108': 7.0,
  '214': 12.0,
  '2147': 62.0,
  '219': 7.6666666667,
  '220': 7.0,
  '223': 3.0,
  '228': 7.0,
  '229': 6.0,
  '232': 3.6666666667,
  '233': 7.5,
  '236': 24.0,
  '240': 10.0,
  '241': 9.0,
  '242': 7.0,
  '247': 6.0,
  '25': 5.0,
  '252': 7.0,
  '254': 9.0,
  '262': 9.0,
  '263': 49.0,
  '272': 4.0,
  '275': 7.0,
  '276': 6.0,
  '277': 6.0,
  '28': 3.5,
  '282': 5.0,
  '283': 5.0,
  '284': 4.0,
  '285': 4.5,
  '287': 4.0,
  '288': 11.0,
  '29': 5.5,
  '298': 12.0,
  '301': 4.3333333333,
  '302': 7.0,
  '303': 20.0,
  '315': 4.0,
  '321': 8.0,
  '326': 5.0,
  '332': 12.0,
  '334': 10.0,
  '343': 17.0,
  '344': 4.0,
  '347': 127.0,
  '354': 20.0,
  '356': 4.0,
  '367': 10.0,
  '369': 8.0,
  '377': 9.0,
  '382': 6.0,
  '385': 4.0,
  '387': 4.0,
  '388': 7.0,
  '391': 9.0,
  '393': 5.0,
  '398': 6.0,
  '4': 6.0,
  '40': 5.0,
  '409': 4.0,
  '41': 7.0,
  '410': 3.0,
  '411': 47.0,
  '420': 46.0,
  '421': 6.0,
  '422': 4.0,
  '425': 4.0,
  '428': 3.5,
  '429': 6.0,
  '435': 35.0,
  '440': 30.0,
  '445': 9.0,
  '447': 4.0,
  '452': 4.0,
  '459': 5.0,
  '460': 4.0,
  '464': 43.0,
  '466': 7.0,
  '468': 20.0,
  '478': 12.0,
  '503': 4.0,
  '509': 34.0,
  '517': 4.0,
  '518': 14.0,
  '52': 4.0,
  '522': 3.0,
  '523': 13.0,
  '529': 7.0,
  '539': 6.0,
  '546': 6.0,
  '547': 4.0,
  '548': 11.0,
  '55': 6.0,
  '555': 3.0,
  '563': 5.5,
  '575': 4.0,
  '576': 7.0,
  '577': 5.0,
  '579': 3.0,
  '589': 6.0,
  '593': 6.0,
  '621': 23.5,
  '650': 48.0,
  '660': 4.0,
  '663': 5.5,
  '668': 5.0,
  '68': 4.0,
  '683': 10.5,
  '685': 4.0,
  '690': 6.0,
  '693': 33.0,
  '745': 11.0,
  '749': 3.0,
  '75': 4.0,
  '772': 5.5,
  '774': 22.0,
  '775': 10.0,
  '78': 5.0,
  '80': 9.0,
  '800': 6.0,
  '801': 3.0,
  '815': 6.0,
  '839': 4.0,
  '849': 6.0,
  '85': 10.0,
  '856': 31.5,
  '861': 4.0,
  '862': 13.0,
  '867': 4.0,
  '871': 7.0,
  '873': 4.0,
  '874': 7.0,
  '877': 9.0,
  '878': 3.0,
  '88': 4.0,
  '881': 8.0,
  '882': 5.3333333333,
  '884': 6.0,
  '895': 4.0,
  '896': 6.0,
  '897': 5.0,
  '898': 5.0,
  '907': 7.0,
  '911': 3.0,
  '924': 9.0,
  '925': 6.0,
  '930': 7.0,
  '934': 7.0,
  '937': 11.0,
  '938': 5.0,
  '95': 3.0,
  '955': 11.0,
  '958': 14.0,
  '968': 5.0,
  '969': 23.5,
  '97': 9.0,
  '970': 44.0,
  '974': 6.0,
  '976': 6.0,
  '981': 14.0,
  '983': 4.0,
  '993': 85.0,
  '996': 8.0}}

# Submission

After finishing your work of all the rubrics, the next step will be;

1. Prepare your `Bikeshare API.ipynb` file that has been edited with your code and wrangling data.
2. Prepare your `app.py` file for your Flask App. 
3. Submit your .ipynb and app.py file in your github repository. The dataset is optional to post since it has big size to post.